<!-- 見出し -->
<h4 class="fw-bold">
  <span class="me-1">🐱</span>
  <span>ねこ</span>
</h4>

<!-- 検索フォーム -->
<div class="card shadow mt-3">
  <div class="card-header">
    <%= icon_with_text("search", "検索条件") %>
  </div>

  <%# * ransackを利用した検索フォームでは、form_withの代わりにsearch_form_forを使う %>
  <div class="card-body">
    <%= search_form_for @search, html: { data: { turbo_frame: "cats-list" } } do |f| %>
      <div class="row g3 mb-3">
        <div class="col-4 col-xl-2">
          <%# * ransack `カラム名_cont`とすることで、カラムに対してLIKEを使った曖昧一致検索ができる %>
          <%= f.label :name_cont, "名前", class: "form-label" %>
          <%= f.search_field :name_cont, class: "form-control" %>
        </div>
        <div class="col-4 col-xl-2">
          <%= f.label :age_eq, "年齢", class: "form-label" %>
          <%= f.search_field :age_eq, class: "form-control" %>
        </div>
        <div class="col-4 d-flex align-items-end">
          <%# * ransack? 検索結果と検索フォームをクリアする %>
          <%= button_tag(icon_with_text("search", "検索"), class: "btn btn-primary me-1") %>
          <%= link_to "リセット", cats_path, class: "btn btn-outline-secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div><!-- END of 検索フォーム -->

<!-- 一覧 -->
<div class="card shadow mt-3">
  <div class="card-header">
    <%= icon_with_text("table", "一覧") %>
  </div>

  <div class="card-body mx-3">
    <%# * 一覧部分をturbo_frame_tagで囲う %>
    <%# * id属性は"cats-list"とする %>
    <%= turbo_frame_tag "cats-list" do %>
      <div class="row py-2">
        <div class="col-4 mt-auto">
          <%# * ransack ソートのリンク。このリンクをクリックするとname属性でソートされる %>
          <%= sort_link(@search, :name) %>
        </div>
        <div class="col-4 mt-auto">
          <%# * ransack ソートのリンク。このリンクをクリックするとage属性でソートされる %>
          <%= sort_link(@search, :age) %>
        </div>
        <div class="col-4 d-flex justify-content-end">
          <%= link_to icon_with_text("plus-circle", "登録"),
                      new_cat_path,
                      class: "btn btn-outline-primary",
                      data: { turbo_frame: dom_id(Cat.new) }
          %>
        </div>
      </div>

      <%= turbo_frame_tag Cat.new %>

      <div id="cats">
        <%= render @cats %>
      </div>

      <div class="d-flex justify-content-end mt-3">
        <%= paginate @cats %>
      </div>
    <% end %>
  </div>
</div><!-- End of 一覧 -->
